<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/addUser" class="nav-link">Add User</a></li>
        <li class="nav-item"><a href="/addGroup" class="nav-link">Add Group</a></li>
        <li class="nav-item"><a href="/allUsers" class="nav-link">All Users</a></li>
        <li class="nav-item"><a href="/allGroups" class="nav-link">All Groups</a></li>
        <li class="nav-item"><a href="/sendMessage" class="nav-link">Let's Spam</a></li>
        <li class="nav-item"><a href="/emailRecords" class="nav-link">Spam history</a></li>
    </ul>
</header>